.header {
  padding: 60px;
  text-align: center;
  font-size: 30px;
  float: center;


}

.content {
  border: solid 05px #333333;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

}

.links {
  float: left;
  border: dotted 02px;
  padding-left: 50px;
  padding-right: 26px;
  padding-top: 50px;
  padding-bottom: 35px;

}

.lab {
  float: center;
  padding-top: 20px;
  padding-left: 500px;
  border: dotted 02px;


}
