body {
    background-image: url(../img/beach.jpg);
    background-color: white;


}

nav#links {
    position: sticky;
    top: 0px;


}

div.bird {
 width: 1000px;
 height: 700px;
 transition: width 2s;
 float: right;


}


div:hover {
 width: 300px;


}

div.column {
    column-count: 4;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    column-gap: 30px;
    column-rule: 2px solid lightblue;
    column-width: auto;
    height: 500px;


}
