.container {
  padding-top: 250px;


}

body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #ffedcd;
    padding: 50px;
    font-size: 120%;

}

h1, h2, h3 {
    font-family: "Georgia", monospace;
    text-decoration: underline;
}

.dog {
    text-align: center;
    padding-top: 150px;

}
p {
    color: #333333;
    font-family: 'Barriecito';
    text-transform: none;
    font-size: 23px;

}
